@import "@fontsource-variable/jetbrains-mono";
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
  --default-font-family: var(--font-mono);
}

@layer base {
  html {
    color-scheme: dark;
  }
  body {
    @apply bg-neutral-900 text-white;
  }
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
